{% load static %}
<div><h2>About Me</h2></div>
<div><h5>{{ about|truncatewords:15 }}</h5></div>
<div><h2><a href="{% url 'friends list' %}">Friends</a>  ({{ friends_number }})</h2></div>



      {% for friend in friends_list %}
      <div class="friends">

        <img src="{{ friend.profile.profile_photo.url }}"
                                       style="vertical-align: middle;
                                              width: 50px;
                                              height: 50px;
                                              border-radius: 50%;
                                              margin-bottom: 5px;">
        {{ friend }}
      </div>
      {% endfor %}

      <hr class="d-sm-none">