{% load static %}

<nav class="navbar navbar-expand-lg fixed-top bg-primary">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="{% url 'home' %}" rel="tooltip" title="This is the way" data-placement="bottom">
          <span>SocialApp</span> powered by django
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="{% url 'home' %}">
                SocialAPP•
              </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
                  <ul class="navbar-nav ml-auto">
                     {% if request.user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'editprofile' %}">
                        <i class="tim-icons icon-settings-gear-63" aria-hidden="true"></i>
                        Edit Profile
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'add_friend' %}">
                        <i class="tim-icons icon-single-02" aria-hidden="true"></i>
                        Add Friend
                      </a>
                    </li>
                    {% if my_friend_requests == 0 %}
                    <li class="nav-item">
                      <a class="nav-link" href="">
                        <span class="badge badge-default">{{ my_friend_requests }}</span>
                        Friend Requests
                      </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal1">
                        <span class="badge badge-default">{{ my_friend_requests }}</span>
                        Friend Requests
                      </a>
                    </li>
                    {% endif %}
                    {% endif %}


                    <li class="nav-item">
                      {% if request.user.is_authenticated %}
                      <a class="nav-link" href="{% url 'logout' %}">
                        <i class="tim-icons icon-lock-circle"></i> Logout
                      </a>
                      {% else %}
                      <a class="nav-link" href="{% url 'login' %}">
                        <i class="tim-icons icon-lock-circle"></i> Login
                      </a>
                      {% endif %}
                    </li>


                  </ul>
      </div>
    </div>
  </nav>

