{% load static %}
  <script src="{% static 'ubek/assets/js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'ubek/assets/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'ubek/assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'ubek/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{% static 'ubek/assets/js/plugins/bootstrap-switch.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'ubek/assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
  <!-- Chart JS -->
  <script src="{% static 'ubek/assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="{% static 'ubek/assets/js/plugins/moment.min.js' %}"></script>
  <script src="{% static 'ubek/assets/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
  <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'ubek/assets/js/blk-design-system.min.js' %}" type="text/javascript"></script>
